<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<!--Sevlet-->

<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>Controller.RegisterDB</servlet-class>
</servlet>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>Controller.LoginDB</servlet-class>
</servlet>

<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>Controller.LogoutDB</servlet-class>
</servlet>

<servlet>
<servlet-name>BookRoomServlet</servlet-name>
<servlet-class>Controller.BookRoomDB</servlet-class>
</servlet>

<!--Mapping-->

<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/View/register</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/View/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/View/logout</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>BookRoomServlet</servlet-name>
<url-pattern>/View/book</url-pattern>
</servlet-mapping>

</web-app>