html, body {
	height: 100%;
	margin: auto;
	background-image: url(../assets/success.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Arimo', sans-serif;
}

.head h1 {
	padding: 20px 0;
	text-align: right;
	font-size: 30px;
	margin: 0 1.5%;
	color: #4d004d;
}

.room h1 {
	margin: auto;
	width: auto;
	text-align: center;
	color: black;
}

.sqlDB {
	margin: auto;
	width: 17%;
	border: 3px solid #4d004d;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.thanks h1{
	margin: auto;
	width: auto;
	text-align: center;
	color: black;
}
