<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Swagat Resort</title>
<link href="css/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Press+Start+2P|Open+Sans">
</head>
<body>
	
	<div class="header">
		<h1>Swagat Resort</h1>
		<p>Have a great Weekend</p>
	</div>
	<div class="main">
		<h1>Welcome to the resort</h1>

		<button class="button button1" onclick="location='registrationPage.jsp'"> New User </button>
		<button class="button button2" onclick="location='login.jsp'">Login</button>
	</div>
</body>
</html>